:root {
  --background: #eaeaea;
  --main: #1a66ff;
  --white: #ffffff;
  --dark: #222222;
  --gray: #cfcfcf;
  --gray-200: #e0e0e0;
  --gray-400: #838383;
  --gray-600: #2d3748;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
input,
textarea,
button {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--dark);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}
button {
  cursor: pointer;
  border: none;
}
[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
